@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #bdf13b;
  --hoover-color:#222221; 
  --second-color: #96c12a;
  --text-color: #f1f1f1;
  --header-text-color:#222221;
  --bg-color: #222221;
}

section {
  padding: 50px 100px;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

header {
  
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
  background: var(--main-color);
  transition: 0.5s linear;
}

.logo img {
  width: 220px;
  padding: 15px;
}

.navbar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  width: 100%;
  
}

.navbar a {
  padding: 8px 17px;
  color: var(--header-text-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  
}

.navbar a:hover {
  background: var(--hoover-color);
  border-radius: 0.2rem;
  transition: 0.2s all;
  color: var(--text-color);
}

#btn-entrar{
    padding: 10px 30px;
    border-radius: 0.3rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    margin-left: 20px;
  }
  
  #btn-entrar:hover {
    background: #131313;
    transition: 0.2s all;
    text-decoration: none;
    color: var(--text-color);
  }

  .carousel {
    max-width: auto;
    margin: 0 auto; 
  }

  .carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel-indicators button {
    background-color: var(--main-color);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .carousel-indicators .active {
    background-color: var(--main-color);

  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 10%; 
    text-align: left; 
    padding: 15px;
    border-radius: 5px;
    max-width: 50%;
  }
  
  .carousel-caption h5 {
    font-size: 2rem; 
    font-weight: bold;
    color: var(--text-color);
  }
  
  .carousel-caption p {
    font-size: 1.2rem; 
    color: var(--text-color);
  }

  .carousel-item {
    position: relative;
  }
  
  .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: blur(2px) brightness(50%);
  }

  /*serviço */

  .service_section .box {
    display: flex;
    margin-top: 20px;
    background-color: #111111;
    padding: 20px;
    border-radius: 0.3rem;
  }
  .service_section .box h3{
    font-weight: bold;
  }

  .container {
    color: var(--text-color);
  }
  
  .container h2 {
    color: var(--text-color);
    
  }

  .container h2 span{
    color: var(--main-color);
    font-weight:bold;
  }

  .service_section .box .img-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 25px;
    overflow: hidden;
}

.service_section .box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Sobre nós*/

.about_section .img-box {
  position: relative;
}

.about_section .img-box img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.about_section .img-box::before, .about_section .img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45px;
  height: 70%;
  background-color: var(--main-color);
  z-index: 3;
}

.about_section .img-box::before {
  left: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.about_section .img-box::after {
  right: 0;
  z-index: 1;
  transform: translate(50%, -50%);
}

.about_section .detail-box p {
  color: #ffffff;
  margin-top: 15px;
}

#btn-lermais{
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 0.3rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 600;
  text-decoration: none;
  border: none;
  
}

#btn-lermais:hover {
  background: var(--second-color);
  transition: 0.2s all;
  text-decoration: none;
  
}

#btn-eliminar{
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 0.3rem;
  background-color: #ff2f2f;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border: none;
  
}

#btn-eliminar:hover {
  background: #d62b2b;
  transition: 0.2s all;
  text-decoration: none;
  
}

/*Contactar*/

  .contactos {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
  }

  .contactos h2{
    color: var(--main-color);
    margin-bottom: 20px;
  }

  .container-contactos {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background: #111111;
    border-radius: 0.5rem;
  }

  .container-preenche {
    padding: 30px;
    align-items: center;
  }

  .container-preenche h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .preenche-contacto {
    display: grid;
    row-gap: 1rem;
    
}

.preenche-contacto input {
  width: 100%;
  border: none;
    outline: none;
  background: var(--bg-color);
  padding: 10px;
  font-size: 0.9rem;
  color: var(--text-color);
  border-radius: 0.4em;
}

.preenche-contacto textarea {
  width: 100%;
  border: none;
  outline: none;
  background: var(--bg-color);
  padding: 10px;
  font-size: 0.9rem;
  color: var(--text-color);
  border-radius: 0.4em;
}

.preenche-contacto a {
  background: var(--bg-color);
  text-align: center;
}

.mapa iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

/*Rodapé*/

.rodape {
  background-color: #111111;
  color: var(--text-color); 
  padding: 40px 40px;
}

.rodape .container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rodape-sobre h3,
.rodape-links h3,
.rodape-contactos h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.rodape-sobre h3 span,
.rodape-links h3 span {
  color: var(--main-color)
}

.rodape-sobre p,
.rodape-links ul,
.rodape-contactos ul {
  font-size: 0.9rem;
  color: #d1d1d1;
  line-height: 1.6;
  text-align: center;

}

.rodape-links ul,
.rodape-contactos ul {
  list-style-type: none;
  padding: 0;
}

.rodape-links li,
.rodape-contactos li {
  margin-bottom: 10px;
}

.rodape-links a,
.rodape-contactos a {
  color: #d1d1d1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.rodape-links a:hover,
.rodape-contactos a:hover {
  color: #ffffff;
}

.rodape-direitos {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #d1d1d1;
  text-align: center;
}

.rodape-direitos p {
  margin: 0;
}

/*selecionar utilizador*/

.perfil-container {
  text-align: center;
  color: var(--text-color);
  padding: 50px;
}
.perfil-container h2 {
  font-weight: bold;
 }

.perfil-container h2 span{
 color: var(--main-color)
}

.perfis {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.perfil {
  background: #111111;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: transform 0.2s, background 0.3s;
}

.perfil:hover {
  background: var(--second-color);
  transform: scale(1.05);
}

.perfil img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.perfil span {
  display: block;
  margin-top: 10px;
}

.rodape-users {
  background-color: #1c1c1c;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

/*pagina de login*/

 .fazer-login{
  overflow: hidden;
  height: 100%;
  
 }


.box-login {
  background: #111111;
  padding: 25px;
  border-radius: 10px;
  box-shadow:  8px 8px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 470px;
  height: 550px;
  z-index: 2;
}

.box-login h2 {
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 80px;
  margin-top: 20px;
}

.email-info {
  text-align: center;
  font-size: 12px;
  color: var(--text-color);
  padding-top: 0.2rem;
}

.opcoes {
  font-size: 12px;
  padding-bottom: 40px;
  
}

.box-inserir {
  display: flex;
  align-items: center;
  background: #2c2c2c;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.box-inserir input {
  background: none;
  border: none;
  outline: none;
  color: var(--text-color);
  margin-left: 10px;
  width: 100%;
}

.btn-primary {
  background: #c8ff2f;
  border: none;
  margin-top:15px;
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--bg-color);
  
}

.btn-primary:hover {
  background: #b0e62e;
}



/*pagina de registo*/

.fazer-registo{
  overflow: hidden;
  height: 100%;
  
  
 }

 .perfil-indicador {
  font-weight: bold;
  margin-right: 10px;
  padding: 6px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 15px
}

.perfil-indicador img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.banner-registo{  
  color: var(--text-color);
  text-align: center;
  padding: 50px 20px;
}

.banner-registo h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-color);
}

.banner-registo p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.banner-registo img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  filter: blur(2px) brightness(50%);
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

main .form-section {
  background: #111111;
  justify-content: flex-start;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  width: 470px;
}

main .form-section h2{
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 30px;
}

.benefits {
  flex: 1;
  padding: 20px;
  max-width: 400px;
}

form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.radio-group {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.radio-group button {
  flex: 1;
  padding: 8px;
  border: none;
  background: #2c2c2c;
  cursor: pointer;
  border-radius: 5px;
  color: var(--text-color);
}
.radio-group .selected {
  background: var(--main-color);
  color: var(--bg-color);
}
.btn-registo {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.btn-registo:hover {
  background: var(--second-color);
    transition: 0.2s all;
    text-decoration: none;
}

.btn-group {
  color: var(--header-text-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
    
}

.procura-section {
  background-image: url(imagens/estrada-viagem.jpg) ;
  background-size: cover;
  padding: 25px;
  display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}


.procura-section form {
  background: #111111;
width: 900px;

  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  
    
    
    
  
}

.procura-section h2{
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 30px;
}

.dropbtn {
  padding: 8px 17px;
  border-radius: 0.3rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
  border: none;
  margin-left: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--bg-color);


}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: #111111;
  transition: 0.2s all;
    text-decoration: none;

}

.dropbtn::after {
  margin-left: 3px;
  content: " ▼";
  font-size: 12px;
}





#btn-login{
  display: block; /* Necessário para usar margin auto */
  padding: 10px 15px;
  margin: 15px auto; /* Auto centraliza horizontalmente */
  border-radius: 0.3rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 600;
  text-decoration: none;
  border: none;
  text-align: center;
  
}

btn-login:hover{
  background-color: var(--second-color);
}

#perfil-aluno {
  width: 900px;
}









/* Responsividade */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .rodape_sobre,
  .rodape_links,
  .rodape_contactos {
    text-align: center;
    margin-bottom: 30px;
  }
}
