@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #bdf13b;
  --hoover-color:#222221; 
  --second-color: #80ff00;
  --text-color: #f1f1f1;
  --header-text-color:#222221;
  --bg-color: #222221;
}

section {
  padding: 50px 100px;
}

img {
  width: 100%;
}

body {
  color: var(--bg-color);
  background-color: var(--bg-color);
}

header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between; és gay
  align-items: center;
  padding: 2px 20px;
  background: var(--main-color);
  transition: 0.5s linear;
}

.logo img {
  width: 200px;
  padding: 15px;
}

.navbar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  width: 100%;
  
}

.navbar a {
  padding: 8px 17px;
  color: var(--header-text-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  
}

.navbar a:hover {
  background: var(--hoover-color);
  border-radius: 0.2rem;
  transition: 0.2s all;
  color: var(--text-color);
}

#btn-entrar{
    padding: 10px 30px;
    border-radius: 0.3rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    margin-left: 20px;
  }
  
  #btn-entrar:hover {
    background: #131313;
    transition: 0.2s all;
    text-decoration: none;
    color: var(--text-color);
  }

  .carousel {
    max-width: auto;
    margin: 0 auto; 
  }
  
  .carousel-item img {
    height: 500px; 
    object-fit: cover;
  }

  .carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel-indicators button {
    background-color: var(--main-color);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .carousel-indicators .active {
    background-color: var(--main-color);

  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 10%; 
    text-align: left; 
    padding: 15px;
    border-radius: 5px;
    max-width: 50%;
  }
  
  .carousel-caption h5 {
    font-size: 2rem; 
    font-weight: bold;
    color: var(--text-color);
  }
  
  .carousel-caption p {
    font-size: 1.2rem; 
    color: var(--text-color);
  }

  .carousel-item {
    position: relative;
  }
  
  .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: blur(2px) brightness(50%);
  }

  /*serviço */

  .service_section .box {
    display: flex;
    margin-top: 50px;
    background-color: #111111;
    padding: 20px;
    border-radius: 5px;
  }
  .service_section .box h3{
    font-weight: bold;
  }

  .container {
    color: var(--text-color);
  }
  
  .container h4 {
    color: var(--text-color);
    font-weight:bold;
  }

  .service_section .box .img-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 25px;
    overflow: hidden;
}

.service_section .box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


  


  
  
  
